*{
/* Universal reset: */
	margin: 0;
	padding: 0;
}

html {
	background-color: white; /* temporary */	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 1000px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	/*border: 3px solid #fcc2b0;*/
	box-shadow: 0 9px 18px 9px #FFC0CB;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

/* Header */
header{
	background-image:url(../images/redvelvet_header.jpg); 
	background-size: cover;
	width:1000px;
	height:450px;
}

/* Navigation menu */
#nav_menu {
	clear: left;
	
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
	position: relative;
	
}

#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;            /* Position the second submenu at the right side of the li element */ 
	top: 0;                /* Position the second submenu at the top of the li element */
	margin-top: -1px;
}

#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 250px;
	padding: .7em 0;
	text-decoration: none;
	/*background-color: #fcc2b0; --- OPTION1*/
	background-color: #F9A7B0;
	color: white;
	font-family: "Sofia";
	font-size: 110%;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}
#nav_menu ul li a.current {
	color: white;
	background-color: #F778A1;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #FFD1C3;
	
}

/* Sidebar A*/
#nav_list {
	float: left; 
	width: 150px;
	padding: 20px 0;
	margin-top: 150px;	
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}
#nav_list ul li { 
	width: 100px;
	height: 100px;
	margin-bottom: 1em;
	
}
	
#nav_list ul li a {
	display: block;
	font-weight: bold;
	font-size: .80em;
	text-decoration: none;
	background-color: white;
	padding: .25em 0;
	color: #F778A1;
	text-align: center;
	border: 2px solid #ff96c0;
	border-radius: 5px;
}

.thumbnail:hover {
    box-shadow: 0 4px 8px 0 rgba(255,0,255,0.3), 0 6px 20px 0 rgba(255,0,255,0.3);
}

#nav_list img {
	display: block;
	margin: 5px auto;
}


/* Section */
#page{
	width:1000px;
	position:relative;
}

main {
	width: 600px;
	float: left;
	margin: auto;
	
}
main h1 {
	margin: 20px auto;
	text-align: center;
	color: #F778A1;
	font-family: "Sofia";
	font-size: 400%;
	text-shadow: 1px 0 2px black;
}

main p {
	font-size: 1em;
	line-height:1.5em;
	padding-bottom:1em;
	margin: 15px;
	padding: 5px;
}

figure {
	border:3px dashed #f4bac4;
	height: 375px;
	width: 550px;
	margin: 10px auto;
	padding: 10px;
	overflow:hidden;
}

figcaption {
	font-size: 0.8em;
	text-align: center;
	color: #C12267;
}

/* Sidebar B*/

#sidebarB {
	float: right;
	width: 200px;
	border: 2px solid #FFC0CB;
	background-color: #FFC0CB;
	margin: 150px 20px 20px 20px;
	border-radius: 50px 20px;
}

#sidebarB h2 {
	color: white;
	font-size: 175%;
	font-family: "Sofia";
	margin: 10px auto;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

#sidebarB p {
	color: #E4287C;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

#sidebarB ul {
	list-style: none;
	color: #E4287C;
	margin: 10px;
	padding: 5px;
}

#sidebarB ul li {
	text-align: center;
	padding-bottom: 5px;
}

#sidebarB img {
	display: block;
	width: 75px;
	height: 75px;
	margin: 10px auto;
	border-radius: 10px;
}

#sidebarB a {
	color: #E4287C;
	text-decoration: none;
	
}

#sidebarB a:hover{
	font-weight: bolder;
}


/* Footer */
footer { 
	clear: both;
	border-top: 2px solid #FFC0CB;
	padding: 15px;
    background-image: -webkit-linear-gradient((white, #FFC0CB);
    background-image: -moz-linear-gradient(white, #FFC0CB);
    background-image: -o-linear-gradient(white,#FFC0CB));
    background-image: linear-gradient(white, #FFC0CB);
} 
footer p {
	font-size: 90%;
	text-align: center;
	padding: 20px;
}